.chart-container {
    height: 100%;
    padding: 1rem;
}

.chart-container .chart-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.chart-container svg {
    width: 100%;
    height: 600px;
}
