.main-layout {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-layout-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #222;
}

.main-layout-header .header-title {
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}
.tooltip {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(22, 22, 22, 0.3);
    visibility: hidden;
    padding: 1rem;
    border-radius: 5px;
}
